body {
    background-color: rgb(0, 0, 0);
    background-image: url(art/carbon_fibre.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 1200px;
    height: 800px;
}

.gameInfo {
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    min-width: 1200px;
}



.gameWindow {
    background-color: rgb(17, 17, 17);
    height: 600px;
    width: 1200px;
    position: relative;
    box-shadow: 0 25px 20px -10px rgb(0, 0, 0);
}

.timeCounter, .score, .level, .lives, .total-score {
    background: transparent;
    min-width: 25%;
    text-align: center;
    font-weight: 100;
}

.user {
    will-change: transform;
    height: 40px;
    width: 40px;
    background: url(art/userplanes.png) 40px 0px;
    position: absolute;
    transform: translate(600px, -45px);
    opacity: 0;
}

.bullet {
    will-change: transform;
    height: 12px;
    width: 8px;
    border-radius: 50% 50% 0 0;
    background-image: linear-gradient(rgb(85, 85, 85), black);
    position: absolute;
    transform: none;
}

.alien {
    height: 40px;
    width: 40px;
    background: url(art/alienplanes.png) 0px 0px;
    position: absolute;
}

.low-health-alien {
    background: url(art/alienplanes.png) 40px 0px;
}

.exploding {
    height: 40px;
    width: 40px;
    border-radius: 50%; 
    box-shadow: 0px 0px 10px 5px rgb(86, 183, 228);
    background-image: radial-gradient(rgb(255, 255, 255), rgb(8, 140, 216));
    position: absolute;
}

.alien-bullet {
    will-change: transform;
    height: 12px;
    width: 6px;
    border-radius: 0 0 50% 50% ;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(221, 221, 221));
    position: absolute;
}

.low-health {
    background: url(art/userplanes.png) 0px 40px;
}

.hit-user {
    height: 20px;
    width: 20px;
    border-radius: 50% ;
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 0);
    background-image: radial-gradient(rgb(255, 251, 0), red);
    background-color: transparent;
    position: absolute;
}

.game-end {
    z-index: 1;
    background-color: black;
    transition: 500ms ease;
}

.win-msg, .lose-msg, .start-msg {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 250px;
    left: 500px;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0;
    transition: 500ms ease;
}

.start-msg {
    color: rgb(255, 255, 255);
    opacity: 1;
}

.pause-menu {
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    opacity: 0;
}

.pause-menu h1 {
    font-size: 7rem;
    z-index: 5;
}

p {
    font-weight: 600;
    z-index: 5;
}

.modal {
    background-color: rgba(36, 36, 36, 0.897);
    color: rgb(255, 255, 255);
    margin: 10vh auto;
    box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.445), 0 0 0 3000px rgba(255, 255, 255, 0.212);
    border: none;
    border-radius: 5px;
}

.score-table {
    opacity: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.329)
}

th {
    padding: 0 3rem;
    font-size: 0.8rem;
}

tr {
    text-align: center;
    font-weight: 100;
}

.pages-container {
    display: none;
    gap: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-size: 0.7rem;
}

.page-number:hover {
    cursor: pointer;
}
