body {
    background-color: grey;
}
.container {
    min-width: 1200px;
    min-height: 800px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
}

.gameInfo {
    color: white;
    font-size: 3rem;
    margin: 3rem 0;
    min-width: 200px;
}

.gameWindow {
    background-color: white;
    height: 600px;
    width: 1200px;
    margin: 3rem auto;
    position: relative;
}

.user {
    height: 40px;
    width: 40px;
    background-color: grey;
    position: absolute;
    bottom: 0%;
    left: calc(50% - 20px);
}

.bullet {
    height: 20px;
    width: 10px;
    border-radius: 50% 50% 0 0;
    background-color: rgb(199, 199, 199);
    position: absolute;
}

.alien {
    height: 50px;
    width: 50px;
    background-color: rgb(104, 104, 104);
    position: absolute;
}

.exploding {
    height: 50px;
    width: 50px;
    background-image: radial-gradient(red, yellow);
    position: absolute;
}

